## Exercício Desafio

- Digamos que seu chefe pediu para você um relatório da análise dos salários da unidade de San Francisco da empresa. O objetivo dele é entender:

1. Qual foi a evolução do salário médio ao longo dos anos (TotalPay e TotalPayBenefits)
2. Quantos funcionários tivemos ao longo dos anos
3. Qual foi a evolução do total gasto com salário ao longo dos anos (TotalPayBenefits)

- Base de Dados a ser usada: salarios.sqlite

In [1]:
import pandas as pd
import sqlite3

### Importação da Base de Dados

In [2]:
conexao = sqlite3.connect(r'Banco de Dados\salarios.sqlite')

tabela_salarios = pd.read_sql('SELECT * FROM Salaries WHERE Agency="San Francisco"', conexao)
conexao.close()

display(tabela_salarios)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0,400184.25,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.71,198306.9,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737,182234.59,,326373.19,326373.19,2011,,San Francisco,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0,0,0,0,0.00,0.00,2014,,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,,San Francisco,
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0,0,-618.13,0,-618.13,-618.13,2014,,San Francisco,PT

### Análise de Dados

In [3]:
tabela_salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148654 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          148654 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             148654 non-null  object
 11  Agency            148654 non-null  object
 12  Status            148654 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 14.7+ MB

##### 1. Qual foi a evolução do salário médio ao longo dos anos

In [4]:
def formatar_valor(valor):
    return f'${valor:,.2f}'

In [8]:
salario_medio = tabela_salarios.groupby('Year').mean()[['TotalPay', 'TotalPayBenefits']]

evolucao_salario = salario_medio.loc[2014]['TotalPay'] / salario_medio.loc[2011]['TotalPay'] - 1
evolucao_salario_ben = salario_medio.loc[2014]['TotalPayBenefits'] / salario_medio.loc[2011]['TotalPayBenefits'] - 1

print(f'''De 2011 para 2014:
O salário médio aumentou em: {evolucao_salario:.2%}.
O salário médio com benefícios aumentou em: {evolucao_salario_ben:.2%}.
''')

salario_medio['TotalPay'] = salario_medio['TotalPay'].map(formatar_valor)
salario_medio['TotalPayBenefits'] = salario_medio['TotalPayBenefits'].map(formatar_valor)

display(salario_medio)

De 2011 para 2014:
O salário médio aumentou em: 5.18%.
O salário médio com benefícios aumentou em: 39.73%.

        TotalPay TotalPayBenefits
Year
2011  $71,744.10       $71,744.10
2012  $74,113.26      $100,553.23
2013  $77,611.44      $101,440.52
2014  $75,463.92      $100,250.92

##### 2. Quantos funcionários tivemos ao longo dos anos

In [22]:
qtd_funcionarios = tabela_salarios.groupby('Year').count()[['Id']].rename(columns={'Id': 'Qtd. Funcionários'})

display(qtd_funcionarios)

      Qtd. Funcionários
Year
2011              36159
2012              36766
2013              37606
2014              38123

##### 3. Qual foi a evolução do total gasto com salário ao longo dos anos

In [23]:
salario_total = tabela_salarios.groupby('Year').sum()[['TotalPayBenefits']]

evolucao_salario_total = salario_total.loc[2014]['TotalPayBenefits'] / salario_total.loc[2011]['TotalPayBenefits'] - 1

print(f'De 2011 para 2014 o gasto com salário da empresa aumentou em: {evolucao_salario_total:.2%}.')

salario_total['TotalPayBenefits'] = salario_total['TotalPayBenefits'].map(formatar_valor)

display(salario_total)

De 2011 para 2014 o gasto com salário da empresa aumentou em: 47.32%.

       TotalPayBenefits
Year
2011  $2,594,195,051.88
2012  $3,696,940,025.96
2013  $3,814,772,184.37
2014  $3,821,865,780.60